cobs~=1.2.1
PySide6~=6.7.0
orjson~=3.10.3
dacite~=1.8.1
numpy~=1.26.4
qmt~=0.2.4
pygame~=2.5.2
matplotlib~=3.9.0
NatNetClient~=0.8.3
websockets~=12.0
control~=0.10.0
simpy~=4.1.1
scipy~=1.14.0
setuptools~=57.4.0
prompt_toolkit~=3.0.47